

{% extends "main/header.html" %}
{% block content %}
  <div>
    <div class="uk-child-width-1-2@s uk-grid-match" uk-grid>
      {% for pod in podders %}
      <div>
        <div class="uk-card-secondary uk-card-hover uk-card-body">
            <h3 class="uk-card-title">{{pod.podder_title}}</h3>
            <p>{{pod.podder_description|safe}}</p>
        </div>
        <div class="uk-card-secondary uk-card-hover uk-card-body">
          <center>
            <audio controls='controls'>
              <source src='{{pod.podder_audio.url}}' type="audio/mpeg">
            </audio>
          </center>

      </div>
    </div>
      {% endfor %}
  </div>
{% endblock %}


