{% extends "main/header.html" %}
{% block content %}
<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>resume</title>
      <link rel="stylesheet" href="https://stackedit.io/style.css" />
   </head>
   <body class="stackedit">
      <div class="stackedit__html">
         <h1 id="personal-information">Personal Information</h1>
         <p>GitHub: <a href="http://github.com/shangar">github.com/shangar</a><br>
            Devpost: [<a href="https://devpost.com/shangar21">https://devpost.com/shangar21</a>]<br>
            E-Mail: <a href="mailto:shangar.muhunthan@mail.utoronto.ca">shangar.muhunthan@mail.utoronto.ca</a><br>
            Phone Number: 437-288-6271
         </p>
         <h1 id="education">Education</h1>
         <p>University of Toronto (2019 - 2023) Scarborough Hons. BSc. Statistics and Mathematics</p>
         <ul>
            <li>Statistics: Machine learning and Data Mining Specialist</li>
         </ul>
         <h1 id="project-experience">Project Experience</h1>
         <p>Hack the Valley 4<br>
            <a href="https://devpost.com/software/harvest-tjzg0c">Harvest</a>, Winner of the BlockStack challenge
         </p>
         <ul>
            <li>Worked on the back end API calls Hosted client data on decentralized Gaia servers using BlockStack API</li>
            <li>Learned how to use BlockStack api through documentation and trial and error</li>
            <li>Used BlockStack API to handle transactions of farmcoin which facilitated trade amongst farmers and customers</li>
            <li>Helped debugging and troubleshooting by testing the application in various scenarios such as seeing if food can be purchased with a negative coin value, which was later fixed to only accept coin values of 0 or higher</li>
         </ul>
         <p>RU Hacks<br>
            <a href="https://devpost.com/software/ruhacks_2020">Whats In Your Fridge?</a>
         </p>
         <ul>
            <li>Worked on the back end API calls</li>
            <li>Used Google cloud vision API to get details on pictures of food</li>
            <li>Used spoonacular API to get recipes after google clouds result</li>
            <li>Helped debug and troubleshoot by testing with various scenarious such as taking pictures of items that were not food and seeing what happened</li>
         </ul>
         <h1 id="personal-projects">Personal Projects</h1>
         <p>Machine Learning and Data Mining</p>
         <ul>
            <li>Learning various mathematical and statistical models for machine learning concepts such as regression, clustering, and neural networks</li>
            <li>Learned numpy, matplotlib, pytorch, multivariable calculus and linear algebra through the process of learning machine learning</li>
            <li>Used various resources such as YouTube and Coursera and other forums to learn how to apply python libraries to mathematical models and create programs that can perform Machine learning concepts</li>
         </ul>
         <p>Creating and Hosting a Personal Website</p>
         <ul>
            <li>Learning how to use Django and React to host and present my own personal website to show other projects as well as talk about myself</li>
            <li>Learned beginner level Django, React, HTML and CSS through the process of learning the ins and outs of hosting websites</li>
         </ul>
         <h1 id="work-experience">Work Experience</h1>
         <p>Century 21 Camdec Real Estate<br>
            <strong>Front Office Assistant</strong><br>
            <strong>Toronto, ON</strong><br>
            <em>May 2018 - Present</em>
         </p>
         <ul>
            <li>Set up WD MyCloud file host to allow access to files from any PC in the office</li>
            <li>Filled numerous forms that required attention to detail to complete transactions of house purchases</li>
            <li>Handled numerous lead’s queries and suggested agents based on personality and type of house in an organized manner</li>
            <li>Created numerous creative flyers to advertise various events such as New Year’s Eve Galas and Spring dances</li>
            <li>Taught new employees how to navigate file system and how to fill out forms for freehold, condo and townhouse transactions</li>
         </ul>
         <p>Best Buy Canada<br>
            <strong>Home Solutions Sales Advisor</strong><br>
            <strong>Markham, ON</strong><br>
            <em>Sept 2019 - Jan 2020</em>
         </p>
         <ul>
            <li>Maintained an organized and clean environment to help customers navigate and enjoy TV’s more</li>
            <li>Spoke to and sold to multiple customers at the same time whilst remembering what product and type they are looking for</li>
            <li>Discussed bugetary and sales goals with managers in a clear and consise manner</li>
            <li>Handled conflicts calmly and with good discretion Sold just under $150,000 worth of TV, homeaudio, computer and other products</li>
            <li>Worked with team members to come up with creative and new ways to present and sell TV’s</li>
            <li>Won numerous challenges to sell warranties and installation services</li>
         </ul>
         <h1 id="personal-interests">Personal Interests</h1>
         <ul>
            <li>Basketball, Soccer, Badminton, Volleyball</li>
            <li>Rap, Jazz, Drumstep and RnB music</li>
            <li>Podcasts such as Flagrant 2, Joe Rogan Experience, Random Order, Brilliant Idiots and Medium Rare Podcast</li>
            <li>Dog Training (I have a German Shepherd/Rotti mix and a Dutch Shepherd comming soon)</li>
         </ul>
      </div>
   </body>
</html>
{% endblock %}